.taskBox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  background: var(--gray-500);
  color: var(--gray-100);

  border: 0;
  border-radius: 8px;

  padding: 1rem;
  margin-bottom: 0.75rem;
}

.taskBox button {
  background: transparent;
  border: 0;
  color: var(--gray-300);
  cursor: pointer;
  line-height: 0;
  border-radius: 4px;
}

.taskBox button:hover {
  background: var(--red-400);
  color: var(--danger);
}

.taskContent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  font-size: 0.875rem;
  line-height: 1.4;

  margin-right: 0.75rem;
}

.taskContent input[type=checkbox] {
  margin-right: 0.75rem;
  cursor: pointer;
  
  background: var(--gray-500);
  color: var(--gray-100);
  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: relative;

  border: 1px solid var(--blue);

  padding: 0.375rem;
  border-radius: 0.5rem;
}

.taskContent input[type=checkbox]:hover {
  border: 1px solid var(--blue-dark);
}

.taskContent input[type=checkbox]:checked {
  background: var(--purple-dark);
  border: 1px solid var(--purple-dark);
}

.taskContent input[type=checkbox]:checked:hover {
  background: var(--purple);
  border: 1px solid var(--purple);
}

/* tentar isso aqui
https://pingback.com/gabcodes/checkbox-customizado-com-css */


.taskContent span {
  
}
