.wrapper {
  max-width: 70rem;
  padding: 0 1rem;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.wrapper .newTask{
  width: 100%;
}

.taskForm {
  width: 100%;
  display: flex;
  align-items: center;

  margin-top: -1.6875rem;
}

.taskForm input {
  flex: 1;
  margin-right: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
  border: 0;

  font-size: 0.875rem;
  line-height: 1.4;
  background: var(--gray-500);
  color: var(--gray-300);
}
.taskForm input:focus {
  color: var(--gray-100);
}

.taskForm button {
  display: flex;
  align-items: center;

  padding: 1rem;
  border-radius: 8px;
  border: 0;

  font-size: 0.875rem;
  font-weight: bold;

  background: var(--blue-dark);
  color: var(--gray-100);
  cursor: pointer;
  transition: background-color 0.1s;
}
.taskForm button span {
  margin-right: 0.5rem;
}

.taskForm button:hover {
  background: var(--blue);
}

.content {
  width: 100%;
  margin-top: 4rem;
}

.content header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 1.5rem;
}

.content header > div {
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--blue);
  
  font-size: 0.875rem;
  line-height: 1.4;
}

.content header > div > span {
  margin-left: 0.5rem;
  color: var(--gray-200);
  background: var(--gray-400);

  padding: 0.125rem 0.5rem;
  border-radius: 8px;

  font-size: 0.875rem;
  line-height: 1.4;
}

.content article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-top: 1px solid var(--gray-300);
  border-radius: 8px;
}

.noTask {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.noTask img {
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.noTask p {
  font-size: 1rem;
  line-height: 1.4;
  color: var(--gray-300);
}